research/xsd/102-bibliography.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="bibliographies">
        <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="bibliography">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="url"/>
                        </xsd:sequence>
                        <xsd:attribute name="id" type="xsd:ID"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
